html{
    font-size: 62.5rem;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}
h1 {
    position: absolute;  
    top: 8px;
    left: 65px;
    font-weight: 800;
    font-size: 20px;
}
.cabecalho {
    display: flex;
    align-items: center;
    position: relative;
    height: 140px;
}
.cabecalho .logo {
    background-size: cover;
    position: relative;
    height: 41px;
    left: 55px;
    display: flex;
} 
.cabecalho nav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 100px;
    top: 55px; 
    font-size: 15px;
    line-height: 18px;  
}
.cabecalho ul li {
    display: inline-flex;
    margin-left: 10px;
}
.cabecalho .ativo{
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    top: 45px;
    right: 445px;
    background: #5bc241;
}
.cabecalho .ativo a{
    color: #ffffff;
}
.button a{
    color: #fff;
}
.button{
    align-items: center;
    justify-content: center;
    width: 127px;
    height: 39px;
    font-weight: 300;
    font-size: 15px;
    background: #5bc241;
    border-radius: 10px;
} 
.cabecalho ul li a:hover {
    font-weight: bold;
}
