html{
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    height: 426px;
    margin: 0 auto;
    display: flex;
}

.cabecalho {
    display: flex;
    position: relative;
    width: 1440px;
    height: 426px;
    background-color: #FFFFFF;
}

.cabecalho .logo {
    background: url(../images/logo.png) center center no-repeat;
    background-size: cover;
    position: absolute;
    width: 48px;
    height: 41px;
    top: 38px;
    left: 55px;
    display: flex;
} 

h1 {
    position: absolute;
    width: 80px;
    height: 24px;
    top: 48px;
    left: 106px;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
}

.cabecalho nav {
    display: flex;
    align-items: center;
    position: absolute;
    width: 327px;
    height: 18px;
    right: 236px;
    top: 55px; 
    font-size: 15px;
    line-height: 18px;  
}

.cabecalho ul li {
    display: inline-flex;
    margin-left: 10px;
}
.cabecalho .sobre{
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    top: 45px;
    right: 445px;
    background: #5bc241;
}
.cabecalho .sobre a{
    color: #ffffff;
}
button{
    position: absolute;
    width: 127px;
    height: 39px;
    top: 41px;
    right: 74px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    background: #5bc241;
    border-radius: 10px;

} 
.cabecalho ul li a:hover {
    font-weight: bold;
}
