@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

h1 {
    font-size: 30px;    
}

p {
    font-size: 17px;
    font-weight: 400;
}

.main {
    display: flex;       
    align-items: center;
    justify-content: center;    
    height: 689px;
    margin: 21px; 
}
.image {
    display: flex;
    width: 335.64px;
    height: 431.86px;
    padding: 0 0 30.86px 26px;
    align-items: flex-end; 
    margin-right: 19px;    
    color: #fff;
    
}

.image.six {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/6.jpg) center center no-repeat;
    background-size: cover;        
}

.image.three {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/3.jpg) center center no-repeat;
    background-size: cover;
}

.image.four {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/4.jpg) center center no-repeat;
    background-size: cover;   
}

.image.five {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/5.jpg) center center no-repeat; 
    background-size: cover;  
}

@media (max-width: 770px) {
    .main {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-top: 53px;
        margin-bottom: 36px;
        height: 100%;        
    }

    .image.five {
        margin-right: 19px;        
    }   

}