@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}
body {
    display: flex;
    justify-content: center;
}
.section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 17px;
    grid-row-gap: 0px;
    max-width: 656px;
    max-height: 368px;
    background-color: #F7F7F7;
}
h2 {
    font-size: 14px;
}
p {
    font-size: 11px;
}

.grade {    
    grid-area: 1 / 1 / 5 / 1;
}
.video {
    width: 326px;
    height: 202px;
    background-color: #C4C4C4;
    margin: 24px 0 0 21px;
    padding: 10px 0 5px 0;
}
.inf-do-video-atual {
    margin: 10px 0 31px 21px;
}
.inf-do-video-atual h2 {
    margin: 5px 0 10px 0;    
}
.inf-do-video-atual h2, p {
    margin: 5px 0 5px 0;    
}
.banner {
    display: flex;
    background-color: #C4C4C4;
    grid-area: 1 / 2 / 1 / 3;
    width: 270px;
    height: 56px;
    margin: 24px 22px 0 0;
    justify-content: center;
    align-items: center;
}
.sugestoes {
    width: 111px;
    background-color: #C4C4C4;
    margin-right: 4px;
}
.sugestoes-a {
    display: flex;
    grid-area: 2 / 2 / 2 / 3;
    width: 270px;
    height: 71px;    
}
.sugestoes-b {
    display: flex;
    grid-area: 3 / 2 / 3 / 3;
    width: 270px;
    height: 71px;
}
.sugestoes-c {
    display: flex;
    grid-area: 4 / 2 / 4 / 3;
    width: 270px;
    height: 71px;
}
